html, body {
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #1B1924;
    user-select: none;
}

.container{
    max-width: 390px;
    margin: 30px auto;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.endorsements, .heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heading{
    margin-top: 25px;
    margin-bottom: 20px;
}

img{
    width: 90px;
}

h1, h4{
    color: white;
}

h1{
    font-size: 25px;
}

h4{
    font-size: 20px;
    margin: 0;
}

textarea{
    width: 315px;
    height: 115px;
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: #444059;
    margin-bottom: 15px;
    font-family: "Josefin Sans", sans-serif;
    color: white;
    font-size: 15px;
    padding: 15px;
    resize: none;
    overflow: hidden;
}

button{
    cursor: pointer;
    width: 315px;
    font-size: 22px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: bold;
    background-color: #28A9F1;
    border: none;
    border-radius: 8px;
    padding: 20px;
}

p{
    width: 315px;
    box-sizing: border-box;
    margin: 0;
    margin-bottom: 15px;
    padding: 15px;
    background-color: white;
    font-size: 12px;
    border-radius: 8px;
    word-wrap: break-word;
    overflow: auto;
    white-space: pre-line;
}
